<!DOCTYPE html>
<html style="background-color:#222">
<head>
  <title>CMS</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="background:#222;">
	  <div id="main-nav-holder">
  <nav id="main-nav">
    <ul>
      <li>
              <a id="home" href="">Pages</a>
      </li>
      <li>
              <a id="videos" href="">Video</a>
            </li>
            <li>
              <a id="photos" href="../photo.php">Photos</a>
            </li>
            <li>
              <a id="about" href="#">About</a>
            </li>
            <li>
              <a id="contact" href="../contact.php">Contact</a>
            </li>
    </ul>
  </nav>
</div>
<div id:="page" style="background-color: #222; height:100%;"><%= yield %>


</body>
</html>
